<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Simple Chat</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

        <meta name="description" content="">
        <meta name="author" content="">
    </head>
    <body>
        <script>
            const assets = require("../../app/helpers/modules/Assets");
            const files = assets();
            document.head.innerHTML += `<link href="${__dirname}/../dist/${files["main.css"]}" rel="stylesheet" type="text/css"/>`;

            const js = document.createElement('script');
            js.setAttribute('src', `${__dirname}/../dist/${files["main.js"]}`);
            document.body.appendChild(js);
        </script>
    </body>
</html>
